<!-- rendimento.html -->
{% extends "base.html" %}

{% block title %}Rendimento Agenti{% endblock %}

{% block content %}
<div class="container">
    <h2 style="margin-top: 20px;">📈 Rendimento Agenti</h2>
    <div class="intestazione-dx">
        <p style="font-size: 0.75em;padding: 5px 10px;">Visualizza l'andamento delle provvigioni maturate per ciascun agente.</p>

        <div class="filtro-rendimento" style="margin-bottom: 2px; padding: 5px 10px; ">
            <label for="filtro-mese">Mese:</label>
            <select id="filtro-mese">
                <option value="">-- Tutti i mesi --</option>
            </select>

            <label for="filtro-anno">Anno:</label>
            <select id="filtro-anno"></select>

            <button id="btn-filtra" class="btn-primario">Filtra</button>
        </div>
    </div>
    <div style="position: relative; width: 65%; aspect-ratio: 2 / 1;">
        <canvas id="grafico-rendimento"></canvas>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Chart.js CDN -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/rendimento.js') }}"></script>
{% endblock %}

